# Environment keys
.env
example.env

# vscode
.vscode/

# python
__pycache__/
.venv
.ruff_cache
.pytest_cache
dist/

# git
.git
.gitignore

# github
.github

# other
justfile
docker-compose.yaml
pokemons/